@import 'media_query_css.css';
*{
    outline: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: "Montserrat", sans-serif; */
}


.calc{
    width: 200px;
}

.calc .input_group{
    width: 100%;
    /* margin-bottom: 10px; */
}

.calc .input_group  input{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid red;
    border-radius: 33px;
    padding-left: 10px;
}

.btn_group{
    display: flex;
    margin-top: 20px;
}
.plus, .minus, .multi, .delimeter{
    width: 50%;
    border: 0px;
    border-radius: 10px;
    color: white;
}

.plus{
    background-color: green;
    margin-right: 10px;
}

.minus{
    margin-left: 10px;
    background-color: red;
}

.multi{
    background-color: blue;
    margin-top: 10px;
    margin-right: 10px;
}

.delimeter{
    background-color: black;
    margin-left: 10px;
    margin-top: 10px;
}

.btn_full{
    margin-top: 30px;
    width: 100%;
}